-
	var page = 'book-create';

doctype html
html(lang="en")
	head
		include ./partials/global/head
	body(class=page+'-page')
		include ./partials/global/sprite

		.global-wrap
			include ./partials/global/header

			main
				include ./partials/book/create

		include ./partials/global/scripts

