.form-field
	label(for="title").form-field__label Title
	input(type="text" name="title" autocomplete="new-password")#title.input

.form-field
	label(for="authors").form-field__label Authors
	input(type="text" name="authors" autocomplete="new-password")#authors.input

.form-field
	label(for="publishingDate").form-field__label Publishing Date
	input(type="text" name="publishingDate" autocomplete="new-password")#publishingDate.input

.form-field
	label(for="publisherDames").form-field__label Publisher Names
	input(type="text" name="publisherDames" autocomplete="new-password")#publisherDames.input

.form-field
	label(for="publisherAddress").form-field__label Publisher's Address
	input(type="text" name="publisherAddress" autocomplete="new-password")#publisherAddress.input

.form-field
	label(for="telephonePublisher").form-field__label Telephone publisher
	input(type="text" name="telephonePublisher" autocomplete="new-password")#telephonePublisher.input

.form-field
	label(for="heading").form-field__label Heading
	input(type="text" name="heading" autocomplete="new-password")#heading.input