section.book-single
	.container
		.row#bookSingle
			.col-4
				img(alt="img").book-single__img#bookImg
			.col-8
				form#formEdit.edit-book

					include ./form

					button(type='submit').btn.btn_white Save