/*
 * Тут подключаем шрифты
 */

@font-face {
  font-family: "nato-sans";
  src: url("../fonts/nato-sans/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "nato-sans-bold";
  src: url("../fonts/nato-sans/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "nato-sans-italic";
  src: url("../fonts/nato-sans/NotoSans-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
